 #header{
    height: 120px;
    background-image:  linear-gradient(0,#fe6433,#f53e2d);
}
#header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    margin-top: 14px;
    list-style: none;
    padding-left: 0;
}
.header__navbar-item{
    display: inline-block;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
/* header QR code */
.header__navbar-item:hover .header__qr{
    display: block;
}

.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon-link{
    display:  inline-flex;
    align-items: center;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color:  var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color: rgba(255,255, 255, .5);
    cursor: pointer;
}
.header__navbar-icon-link{
    color: #fff;
    text-decoration: none;
    margin: 0 4px;
}
.header__navbar-icon{
    font-size: 1.8rem;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color:var(--white-color);
}


.header__qr{
    background-color:var(--white-color);
    width: 216px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 4px;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}
.header__qr-img{



}

.header_qr-apps{ 
    display: flex;
    justify-content: space-between;
  



}
.header__qr-download-img {
    height: 20px;
}
/* header notification */

.header__notify{
    position: absolute;
    top: 130%;
    width: 405px;
    right: 0;
    background-color: var(--white-color );
    border: 2px solid #d3d3d3;
    display: none;
    animation: fadeIn 0.5s ease-in;
    cursor: default;
   
    

}
.header__notify::before{
    border: 2px solid ;
    content: "";
    border-width: 10px 20px;
    border-color: transparent transparent var(--white-color) transparent;  
    position: absolute;
    top: -20px;
    right: 10px;
  

}
.head__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top:0;
    width: 90px;
    height: 12px;
    background-color: #f53e2d;



}
.header__navbar-item:hover .header__notify{
    display: block;
    animation: fadeIn 0.5s ease-in;
}

         
.header__notify-header{
   height: 40px;
   background-color: var(--white-color);
  

}
.header__notify-header>h3{
   
    font-weight: 300;
    color: var(--black-color);
   line-height: 30px;
   margin: 0 0 0 10px;
    
    color: #666;
    user-select: none;


}
  
.header__notify-list{
    padding-left: 0;

}
    
.header__notify-item{
    padding: 10px;
    background-color: #eedddf;

}
    

.header__notify-item:hover{
    background-color: #f5f5f5;
}
.header__notify-link{
    display: flex;
    text-decoration: none;
  
}
    
.header__notify-img{
    width: 56px; 
    object-fit: contain;
    padding: 5px;

}
     
.header__notify-info{
    margin-left: 10px;
    margin-top: 10px;

}
    
.header__notify-name{
    display: block;
    font-size: 14px;
    font-style: bold;
    color: black;

}
.header__notify-description{
    margin-top: 5px;
    display: block;
    font-size: 12px;
    color: #8a8686;


}
.header__notify-footer{

    text-decoration: none;
    text-align: center;
    background-color: #f8f8f8;
    height: 40px;


}
.header__notify-footer-btn{
    width: fit-content;
    text-decoration: none;
    line-height: 40px;
    color: black;
    padding: 16px 16px;
    
}


/* modal*/




.modal{
    position: fixed;
    display: none;



}
.container{
    padding: 0 32px;
}
.modal__body{
    display: flex;
    justify-content: center;
    width: 460px;
    height: 400px;
    animation: fadeIn 0.5s ease-in;
}
.auth-form__header{
    display: flex;
    justify-content: space-between;
}
.auth-form__switch-btn{
    line-height: 36.68px;
    padding-top: 15px;
    font-style: bold;
    font-size: 1.4rem;
    color: #f53e2d;
    cursor: pointer;

}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400px;
    font-weight: 500;
    cursor: pointer;
}
.auth-form__form{
    margin-top: 16px;

     
}
.auth-form__input{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border-color: #d3d3d3;
    font-size: larger;
    outline: none;


}
.auth-form__policy-link{
    color: #f53e2d;


}
.auth-form__aside{
    margin-top: 16px;
    justify-content:right ;

}
.auth-form__controls{
    margin-top: 20px;
    display: flex;
    justify-content: right;
    


}
.btn{
    width:100px;
    height: 30px;
    border-style: none;
    cursor: pointer;

}
.btn:hover{
    background-color:  rgba(212, 212, 221, 0.35);
    color: #fff;
    border: none;
    color: black;
    cursor: pointer;
    
}
.btn--primary{
    background-color: #f53e2d;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}
.btn--primary:hover{
    background-color:  rgba(218, 82, 18, 0.38);
    color: #000000;
    border: none;
    cursor: pointer;
}
.auth-form__social{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    
}
.btn--with-icon{
    text-decoration: none;
    line-height: 30px;
    width: 180px;
    border-radius: 5px;
    min-width: 142px;
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
}
.facebook{
    background-color:#0866FF;
    color:#fff;
    padding-left: 8px;
    margin-left: 0px;



}
.facebook:hover{
    background-color: #0d4b9b;
    color: #fff;
}
.google{

    background-color: #f5f0ef;
    width: 200px;
}
.fa-facebook{
    font-size: 20px;
    color: #fff;
    padding-right: 8px;
   
}
.fa-google{
  
    padding-right: 32px;
}
/* login form */
.modal__inner{
    display: none;
}
.facebook__login{
    width: 100%; 



}
.google__login{
    background-color: #f5f0ef;
    width: 100%;
}
.container__login{

    padding: 8px 8px;
    width: 100%;


}
.modal__login{
    width: 400px;



}
.header__logo-img{
    height: 50px;
    color: #f5f5f5;
    padding-right: 20px;

}
.header-with-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.header__search{
    height:40px ;
    background-color: #f5f5f5;
    flex:1;
    border-radius: 2px;



}
.header__cart{
  height: 40px;
  width: 100px;


}
.fa-cart-plus{
    height: 50px;
    



}


